.u-section-1 {
  background-image: none;
  min-height: 3000px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 43px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 512px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 13px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 8.125rem;
  margin: 0 -10px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 512px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 373px;
  height: 373px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-1 .u-shape-1 {
  height: 646px;
  margin-top: 30px;
  margin-bottom: 2700px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 3000px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 422px;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 3000px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 246px;
    height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 3000px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 3000px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}