<!DOCTYPE html>
<head>
    <title>Tone</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='html2canvas.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='FileSaver.js') }}"></script>
    <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root | tojson | safe }}</script>
    <script type="text/javascript" src="{{ url_for('static', filename='tone.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

<div id="sentence_div" class="container" style="margin-top: 30px">
    <div class="form-row">
        <div class="col">
            <input id="sentence" type="text" class="form-control">
        </div>
    </div>
</div>
<div id="emoji_div" class="container" style="width: fit-content; padding: 15px">
    <img id="emoji" src="../static/images/loading.gif" style="display: block; margin: 15px auto;" alt="">
    <p id="emoji_title" class="text-center h5 text-muted">напиши текст и нажми enter</p>
</div>
